/* styles/weatherCard.module.css */

.weather {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.card {
  margin-top: 50px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  background-color: rgba(93, 221, 249, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  align-items: center; /* Center items horizontally */
  gap: 10px;
  justify-content: center;
}
